@model IEnumerable<TaskManager.Models.TaskItem>

@{
    ViewData["Title"] = "Manager Dashboard";
    var count = 1;
}

<h2 class="text-center text-secondary mb-4">
    <i class="bi bi-speedometer2"></i> Manager Dashboard
</h2>

<div class="row text-center mb-4">

    <div class="col-md-3 ">
        <div class="card shadow p-3 border border-dark">
            <h6>Total Tasks</h6>
            <h2>@ViewBag.TotalTasks</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow p-3 border border-success">
            <h6>Completed</h6>
            <h2 class="text-success">@ViewBag.Completed</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow p-3 border border-warning">
            <h6>Pending</h6>
            <h2 class="text-warning">@ViewBag.Pending</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow p-3 border border-danger">
            <h6>Overdue</h6>
            <h2 class="text-danger">@ViewBag.Overdue</h2>
        </div>
    </div>

</div>

<hr />

<h4 class="mt-4 mb-3 text-secondary">
    <i class="bi bi-list-task me-2"></i> All Tasks Overview
</h4>

<table id="taskTable" class="table table-bordered table-hover align-middle table-striped modern-table">
    <thead class="table-dark">
        <tr>
            <th class="text-center">No</th>
            <th class="text-center">Title</th>
            <th class="text-center">Project</th>
            <th class="text-center">Assigned To</th>
            <th class="text-center">Deadline</th>
            <th class="text-center">Status</th>
            <th class="text-center">Progress</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var t in Model)
        {
            var overdue = t.Deadline.HasValue && t.Deadline.Value < DateTime.UtcNow && t.Status != "Completed";

            <tr class="@(overdue ? "table-danger" : "")">
                <td class="text-center">@count</td>

                <td class="text-center">@t.Title</td>

                <td class="text-center">
                    <span class="badge text-primary px-2">
                        @t.Project?.Name
                    </span>
                </td>

                <td class="text-center">
                    <span class="badge text-dark px-2">
                        @t.AssignedTo?.Name
                    </span>
                </td>

                <td class="text-center">
                    @t.Deadline?.ToLocalTime().ToString("dd MMM yyyy")
                </td>

                <td class="text-center">
                    @if (t.Status == "Completed")
                    {
                        <span class="badge bg-success">Completed</span>
                    }
                    else if (t.Status == "In Progress")
                    {
                        <span class="badge bg-warning">In Progress</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Not Started</span>
                    }
                </td>

                <td class="text-center">
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar 
                            @(t.Progress == 100 ? "bg-success" :
                              t.Progress >= 50 ? "bg-info" :
                              t.Progress >= 20 ? "bg-warning" : "bg-danger")"
                             style="width:@t.Progress%">
                            @t.Progress%
                        </div>
                    </div>
                </td>
            </tr>

            count++;
        }
        
    </tbody>
</table>

<hr />

<h4 class="mb-3 text-secondary">
    <i class="bi bi-bar-chart-fill me-2"></i> User Task Statistics
</h4>

<div class="row mb-4 align-items-center">
    <div class="col-md-2 fw-bold">
        Select User
    </div>

    <div class="col-md-4">
        <select id="userSelect" class="form-select">
            <option value="">Select User</option>
            @foreach (var u in ViewBag.Users)
            {
               <option value="@u.Id">@u.Name</option>   
            }
        </select>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <canvas id="userTaskChart" height="120"></canvas>
    </div>
</div>

<hr/>




@section Scripts {
<script>
    $(document).ready(function () {
        $('#taskTable').DataTable({
            paging: true,
            pageLength: 10,
            lengthChange: false
        });
    });

    let chart;

    $("#userSelect").change(function () {
        const userId = $(this).val();
        if (!userId) return;

        $.get("/Manager/UserTaskStats", { userId }, function (data) {
            renderChart(data);
        });
    });


    function renderChart(data) {

        const ctx = document.getElementById("userTaskChart").getContext("2d");

        if (chart) {
            chart.destroy();
        }

        chart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: ["Completed", "Pending", "Overdue"],
                datasets: [{
                    label: "Task Count",
                    data: [
                        data.completed,
                        data.pending,
                        data.overdue
                    ],
                    backgroundColor: [
                        "#198754", // green
                        "#ffc107", // yellow
                        "#dc3545"  // red
                    ]
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: { stepSize: 1 }
                    }
                }
            }
        });
    }

</script>
}
